p {
  text-indent: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 4px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
}

li a:hover {
  background-color: #111;
}

own-units-table {
	width:100%;
}

.client-state {
	position: relative;
	width: 100%;
}

.info-table {
	position: absolute;
	background: rgba(255,255,255,0.5);
}

.login-page-input {
	border: 1px solid grey; 
	border-radius: 4px; 
	width: 200px; 
	font-size: 14pt;
}

.main-menu-button:hover {
  background-color: #7da36f;
}

.main-menu-td {
	height: 100%;
	padding: 2px 2px;
}

.main-menu-button {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: #adcfa1;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
}

.ui-tile-div {
  position: absolute;
  display: inline-block;
}

.ui-info-div {
	position: absolute;
	display: none;
}

.unit-list-button {
  width:25px;
  display: block;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  float:right;
  box-sizing: border-box;
}

.unit-list-button:hover {
  background-color: #808080;
}

.unit-list-icon {
  width:25px;
  display: block;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  float:right;
}

.unit-list-row {
  display: block;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.unit-list-row:hover {
  background-color: #b2bdd1;
}
